<div class="dropdown dropleft float-lg-right">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Filters
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/filter?filterSelection=az">Alphabetical</a>
        <a class="dropdown-item" href="#" id="price">Price(Low - High)</a>
        <a class="dropdown-item" href="#" id="cart">In Cart</a>
    </div>
</div>
