<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <title>S5 Sporting Goods</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/functions.js"></script>
    </head>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light "style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">
            <img src="img/logo.svg" width="90" height="70" class="d-inline-block align-top" alt="" loading="lazy">
        </a>

        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Featured Sports
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item sport-selection" href="/sport?sportSelection=baseball">Baseball</a>
                        <a class="dropdown-item sport-selection" href="/sport?sportSelection=cycling">Cycling</a>
                        <a class="dropdown-item sport-selection" href="/sport?sportSelection=fitness">Fitness</a>
                        <a class="dropdown-item sport-selection" href="/sport?sportSelection=football">Football</a>
                        <a class="dropdown-item sport-selection" href="/sport?sportSelection=soccer">Soccer</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

            </ul>

            <!-- Search Bar Float Right -->
            <ul class="nav navbar-nav ml-auto">
                <form class="form-inline float-lg-right" action="/search">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="itemSearch">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </ul>
            
        </div>
        
    </nav>
    
