<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <title>Image Search</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/functions.js"></script>
    </head>

    <!-- Main Logo -->
    <div class="container text-center">
        <img class="img-fluid" id="main-logo" src="img/logo.svg" alt="Small 5 Sporting Goods Logo" />
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <a class="navbar-brand" href="/">
            <img src="img/logo-small.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        </a>

        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/adminOverview">Overview <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminOrders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminViewUsers">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminViewAdmins">Administrators</a>
                </li>

            </ul>

            <!-- Search Bar Float Right -->
            <ul class="nav navbar-nav ml-auto">
                <form class="form-inline" action="/logout">
                    <button class="btn btn-primary" type="submit">Logout</button>
                </form>
            </ul>
        </div>
        
        
    </nav>