<%- include('partials/header.ejs') %>

<body>

    <main>

        <div class="container">
            <br/><h2 class="text-center"><strong>Small 5 Sporting Goods</strong></h2><br/>

            <h4>
                This fictitious website was created by Aaron Newman, Cristian Palomo-Ramirez,
                and Raymond Talmage to showcase our accomplishments in Cal State Monterrey Bay's 
                computer science web development class. 
            </h4><br/><br/>

            <h4>
                Users can search for products using the search bar, or choose from a drop down of 
                preselected sports in the navigation bar. Items can be added to the cart where a 
                running total is kept and submitted to the database upon checkout. Administrators can
                look up all existing orders, users, and Administrators. In addition, they can also 
                add admins and delete users when necessary.
            </h4><br/><br/>
        </div>
        
    </main>

<%- include('partials/footer.ejs') %>

</body>
</html>