<%- include('partials/header.ejs') %>
        <!-- Main Logo -->

<body class="text-center" style = "background-color: #e3f2fd;">

    <main>
        <br><br>
        <p style="font-size:1.5vw;">Thanks for your cooperation during these hard times. Got any questions regarding your purchases, refunds and shipping? You have come to the right place, the answers are right here.
        </p>
        <p style="font-size:1.5vw;">
            This is a database-driven, responsive SPORTS store shopping cart website made by Aaron Newman, Cristian Palomo-Ramirez, Raymond Talmage and Patrick Trias. 
            It is inspired by sports stores such as Dick's Sporting Goods, Bass Pro and the sports section of Walmart. We have used Walmart Labs API to gather sports product items.
        </p>

    </main>

<%- include('partials/footer.ejs') %>

</body>
</html>