<%- include('partials/header.ejs') %>
        <!-- Main Logo -->

<body class="text-center">

    <main>

        <h2>About Section. This can be replaced with a different page related to the project</h2>

    </main>

<%- include('partials/footer.ejs') %>

</body>
</html>