<%- include('partials/headerAdmin.ejs') %>

<body class="text-center">

    <main>

        <div class="container">

            <h2>ORDERS</h2>

            <div class="row">
                <div class="col-lg">
                    <button type="button" class="btn btn-primary orders-btn" id="viewAllOrders">View All Orders</button>
                </div>
                <div class="col-lg">
                    <button type="button" class="btn btn-primary orders-btn" id="viewTotalRevenue">View Total Revenue</button>
                </div>
                <div class="col-lg">
                    <button type="button" class="btn btn-primary orders-btn" id="searchOrderNum">Search By Order Number</button>
                </div>
            </div>
            
            <hr/><br/>

            <table class="table" id="orders-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">Order Amount</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">User Id</th>
                    </tr>
                </thead>
                <tbody id="orderTableContents">
                    
                </tbody>
            </table>

            <div id="total-revenue"></div>

            <div id="search-by-num">
                <input type="text" id="ordersSearch" placeholder="Enter Order Id">
                <button type="submit" class="btn btn-primary" id="admin-search-btn">Search</button><br/><br/>

                <table class="table" id="search-table-results">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Order Id</th>
                            <th scope="col">Order Amount</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">User Id</th>
                        </tr>
                    </thead>
                    <tbody id="searchTableContents">
                        
                    </tbody>
                </table>
            </div>



        </div>

    </main>

<%- include('partials/footer.ejs') %>

</body>
</html>