<%- include('partials/header.ejs') %>

<body class="text-center">

    <main>

        <h2>You are logged in as: <%= username %></h2>



    </main>

<%- include('partials/footer.ejs') %>

</body>
</html>