<%- include('partials/header.ejs') %>
<div>
    <nav class="navbar-xs py-0 navbar-light" style="background-color: #e3f2fd;">
      <!-- Navbar content -->
        <a class="flex-sm-fill text-sm-center nav-link active" href="/about">All stores are fully open. See how we keep out Customers and Staff Safe.</a>
    </nav>
</div>
<body style = "background-color: #e3f2fd;">
    
<!-- Beginning of Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="img/main.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h1>Ride the Most Efficient Human Transportation </h1>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          
          <div class = "row">
                <div class = "col"> 
                  <a class="btn btn-light"  href="/sport?sportSelection=road+bike" role="button">Road Bikes</a>
                </div>
                <div class = "col"> 
                  <a class="btn btn-light"  href="/sport?sportSelection=gravel+bike" role="button">Gravel Bikes</a>
                </div>
                <div class = "col"> 
                  <a class="btn btn-light"  href="/sport?sportSelection=mountain+bike" role="button">Mountain Bikes</a>
                </div>
                <div class = "col"> 
                  <a class="btn btn-light"  href="/sport?sportSelection=family + bike" role="button">Kids & Family Bikes</a>
                </div>
          </div>
                
        
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/main2.jpg" alt="Second slide">
      
      <div class="carousel-caption d-none d-md-block">
          <h1>Just Keep Swimming.  </h1>
          
            <div class = "row">
                <div class = "col"> 
                  <a class="btn btn-light"  href="/sport?sportSelection=kayak" role="button">Kayak & Accessories</a>
                </div>
                <div class = "col"> 
                  <a class="btn btn-light"  href="/sport?sportSelection=fishing+rod" role="button">Fishing</a>
                </div>
                <div class = "col"> 
                  <a class="btn btn-light"  href="/sport?sportSelection=family+swimming" role="button">Family Swimming Gear</a>
                </div>
          </div>
                
     </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/main3.jpg" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
          <h1>Sports for All </h1>
          
          
          <div class = "row">
                <div class = "col"> 
                  <a class="btn btn-light"  href="/sport?sportSelection=skateboard" role="button">Skateboards</a>
                </div>
                <div class = "col"> 
                  <a class="btn btn-light"  href="/sport?sportSelection=athletic+shoes" role="button">Athletic Shoes</a>
                </div>
                <div class = "col"> 
                  <a class="btn btn-light"  href="/sport?sportSelection=soccer" role="button">Soccer</a>
                </div>
                <div class = "col"> 
                  <a class="btn btn-light"  href="/sport?sportSelection=football" role="button">Football</a>
                </div>
          </div>
                
        
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div> <!--end carousel</-->
  <br>
    
    <!-- tennis-->
  <div class="container p-0 p-lg-3">
    </br></br>
  <div class="h3 text-center "><p>Summer of "Love" - Tennis is the Sport of the Summer</p></div>

      <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 411px;">
        <div><a href="/sport?sportSelection=tennis" title="Come get your racket ready for the court!" tabindex="0" style="width: 100%; display: inline-block;">

    </a>
    </div>
    </div>
    
      <div><a href="/sport?sportSelection=tennis" title="All Your Tennis Needs, Right Here" tabindex="0" style="width: 100%; display: inline-block;">
      
        
        
        <div class="h3 text-center mt-5 mx-3">
          <mark class="h5 px-2">All Your Tennis Needs, Right Here.</mark><br>
          <div class="btn btn-sm btn-primary-inverse my-1"><strong>Shop tennis</strong></div>
      <div class = "col">  
        <img src="img/tennis.jpg" alt="dress the part" style="min-width: 60%; min-height: 60%; border-radius: 5px; opacity: 0.8;">
      </div>
    </a></div>
</div> <!-- tennis-->
<!-- stuff-->
<div class="container p-0 p-lg-3">
  <div class="h3 text-center mt-5 mx-3"><p>Bike the road, Run the Trail, or Feel Comfy in the Outdoors!</p></div>

  <div class="d-md-flex flex-wrap align-items-center justify-content-center slick_mobile_only"><a href="/sport?sportSelection=bike+apparel" title="Dress the part">
      <div class="col p-0 p-md-2">
        
        
        <div class="content w-100 bottom right primary">
          <mark class=" text-center h5 px-2">Dress it until you make it</mark><br>
          <div class="btn btn-sm btn-primary-inverse my-1"><strong>Shop Bike Apparel</strong></div>
        </div>
        
        
        <img src="img/jersey.jpg" alt="dress the part" style="min-width: 100%; min-height: 100%; border-radius: 5px; opacity: 0.8;">
      </div>
    </a>
    <br><a href="/sport?sportSelection=bike+accessories" title="bike accessories">
      <br>
      <div class="col p-0 p-md-2">
        
        
        <div class="content w-100 bottom left primary">
          <mark class="h5 px-2">All the Bike Accessories you Need</mark><br>
          <div class="btn btn-sm btn-primary-inverse my-1"><strong>Shop Bike Accessories</strong></div>
        </div>
        
        
        <img src="img/accessories.jpg" alt="all the bells &amp; whistles! Plus bags, lights, you name it" style="min-width: 100%; min-height: 100%; border-radius: 5px; opacity: 0.8;">
      </div>
    </a>
    </a></div>
</div> <!-- stuff -->
    
    <main>

    </main>

<%- include('partials/footer.ejs') %>

</body>
</html>