nav{
   
    font-size: 1.5em;
}

.navbar-xs {
    padding-top: 0 !important;
    font-size:15px;    
    height: 30px !important;
 }

#main-logo{
    max-width: 60em;
    max-height: 60em;
}

.dropdown-item{
    font-size: 1.3em;
}

.card{
    margin: 2em;
    padding: 1em;
}

.carousel-caption {
    top: 35% !important;
transform: translateY(-50%);
     text-align:center;
}

